h1 a{
    font-family: monospace;
    padding-left: 73px;
    text-decoration: none;
    color: black;
}

.card img {
    border-radius: 10px;
    margin-left: 73px;
    background-color: blanchedalmond;
}

ul {
    list-style-type: none;
    margin-top: 25px;
    margin-left: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 40px;
    overflow: hidden;
  }
  
  li {
    float: left;
  }
  
  li a {
    font-family: poppins;
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
